---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="flex flex-col rounded-2xl border bg-base-200 shadow-2xl dark:border-zinc-600 sm:max-w-md lg:max-w-full lg:flex-row xl:flex-col"
>
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngkey.com%2Fpng%2Fdetail%2F233-2332677_image-500580-placeholder-transparent.png&f=1&nofb=1&ipt=4b93f6260d41fba1100122524a08839a2cd44dc4d257a9124f04f8b104eeab8d&ipo=images"
    alt="Shoes"
    class="rounded-t-2xl lg:max-w-sm lg:rounded-l-2xl lg:rounded-tr-none xl:max-w-full xl:rounded-t-2xl xl:rounded-bl-none"
  />

  <div class="flex flex-col p-8">
    <h3 class="card-title mb-3 text-2xl">{title}</h3>
    <p class="mb-8 inline font-light">
      If a dog chews shoes whose shoes does he choose? asdasdasdasdasd If a dog
      chews shoes whose shoes does he choose? asdasdasdasdasd If a dog chews
      shoes whose shoes does he choose? asdasdasdasdasd
    </p>
    <div class="card-actions mt-auto justify-end">
      <button class="btn-primary btn">Explore</button>
    </div>
  </div>
</div>
