---
---

<div class="card bg-base-300 shadow-xl sm:max-w-sm">
  <figure>
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngkey.com%2Fpng%2Fdetail%2F233-2332677_image-500580-placeholder-transparent.png&f=1&nofb=1&ipt=4b93f6260d41fba1100122524a08839a2cd44dc4d257a9124f04f8b104eeab8d&ipo=images"
      alt="Shoes"
    />
  </figure>

  <div class="card-body">
    <h2 class="card-title">PowerKids Kindergarten Company Website</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="card-actions justify-end">
      <button class="btn-primary btn">Explore</button>
    </div>
  </div>
</div>
