@tailwind base;

@layer base {
  /* Scroll */
  body {
    overscroll-behavior-y: none;
    overflow: overlay;
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
  /* ::-webkit-scrollbar-track {;
  } */
  ::-webkit-scrollbar-thumb {
    @apply ld-bg-rTen;
  }
  /* ::-webkit-scrollbar-thumb:hover {
     */
  /* Prose */
  .prose :where(p):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-body);
  }
  /* Colors */
  .ld-bg-rSixty {
    @apply bg-ccWhite dark:bg-invert-ccSlate;
  }
  .ld-bg-rThirty {
    @apply bg-ccSlate dark:bg-invert-ccIndigo;
  }
  .ld-bg-rTen {
    @apply bg-ccCambridge dark:bg-invert-ccCambridge;
  }
  .ld-text-rSixty {
    /* @apply dark:text-ccWhite; */
    @apply dark:text-ccWhite text-invert-ccIndigo;
  }
  .ld-text-rSixty-fade {
    @apply text-ccWhite-fade dark:text-invert-ccIndigo-fade;
  }
  .ld-text-rThirty {
    @apply text-ccSlate dark:text-invert-ccSlate;
  }
  .ld-text-rTen {
    @apply text-ccCambridge dark:text-invert-ccCambridge;
  }
}

/* * {
  outline: 1px solid #f00 !important;
} */
