@tailwind base;

@layer base {
  /* Scroll */
  body {
    overscroll-behavior-y: none;
    overflow: overlay;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* ::-webkit-scrollbar-track {;
  } */
  ::-webkit-scrollbar-thumb {
    @apply text-ccTeal dark:text-ccTeal;
  }
  /* ::-webkit-scrollbar-thumb:hover {
     */
  /* Prose */
  .prose :where(p):not(:where([class~="not-prose"] *)) {
    color: var(--tw-prose-body);
  }
}

/* * {
  outline: 1px solid #f00 !important;
} */
