---
const today = new Date();
---

<footer class="grid grid-cols-2 gap-x-4 gap-y-8 py-8 sm:grid-cols-4">
  <div class="col-span-2 hidden gap-y-1 sm:grid">
    <h1>Chuang<br />Caleb</h1>
    <p class="font-light">@ balechuang@gmail.com</p>
  </div>
  <div>
    <h2 class="mb-2 text-2xl">🧭 nav</h2>
    <ul class="[&>li]:pb-2">
      <li>
        <a href="/">GitHub</a>
      </li>
      <li>
        <a href="/">GitHub</a>
      </li>
      <li>
        <a href="/">GitHub</a>
      </li>
    </ul>
  </div>

  <div>
    <h2 class="mb-2 text-2xl">🔗 links</h2>
    <ul class="[&>li]:pb-2">
      <li>
        <a href="/">GitHub</a>
      </li>
      <li>
        <a href="/">GitHub</a>
      </li>
      <li>
        <a href="/">GitHub</a>
      </li>
    </ul>
  </div>

  <div class="col-span-full font-extralight md:text-center">
    &copy; {today.getFullYear()} Chuang Caleb. All rights reserved.
  </div>
</footer>
