---
import type { HTMLAttributes } from "astro/types";

const backgroundCV = {
  base: null,
  dark: "bg-neutral-600",
};

const colSpanCV = {
  full: "col-span-full",
  middle: "[grid-column:2]",
  unset: null,
};

interface Props extends HTMLAttributes<"section"> {
  colSpan?: keyof typeof colSpanCV; // default: max-w-xl
  // paddingX?: keyof typeof paddingXCV; // default: (gutters only on) mobile
  bg?: keyof typeof backgroundCV; // default: base
  // noPaddingY?: boolean; // default: paddingY true
  asArticle?: boolean;
}
const {
  colSpan = "middle",
  bg = "base",
  // paddingX = "always",
  // noPaddingY = false,
  asArticle = false,
  class: extraClass,
  ...attrs
} = Astro.props;

const sectionClassList = [
  backgroundCV[bg],
  colSpanCV[colSpan],
  // paddingXCV[paddingX],
  extraClass,
  // !noPaddingY && "py-8",
];
---

{
  asArticle ? (
    <article class:list={sectionClassList} {...attrs}>
      <slot />
    </article>
  ) : (
    <section class:list={sectionClassList} {...attrs}>
      <slot />
    </section>
  )
}
