---
import type { HTMLAttributes } from "astro/types";

const backgroundCV = {
  base: "bg-white",
  dark: "bg-neutral-600",
};

const colSpanCV = {
  full: "col-span-3",
  middle: "[grid-column:2]",
  none: null,
};

const paddingXCV = {
  always: "px-4",
  none: null,
};

interface Props extends HTMLAttributes<"section"> {
  colSpan?: keyof typeof colSpanCV; // default: max-w-xl
  paddingX?: keyof typeof paddingXCV; // default: (gutters only on) mobile
  bg?: keyof typeof backgroundCV; // default: base
  noPaddingY?: boolean; // default: paddingY true
}
const {
  colSpan = "middle",
  bg = "base",
  paddingX = "always",
  class: extraClass,
  ...attrs
} = Astro.props;

const sectionClass = [
  "text-black",
  backgroundCV[bg],
  colSpanCV[colSpan],
  paddingXCV[paddingX],
  extraClass,
];
---

<section class:list={sectionClass} {...attrs}>
  <slot />
</section>
