---
import type { HTMLAttributes } from "astro/types";
import { twJoin } from "tailwind-merge";

interface Props extends HTMLAttributes<"button"> {
  noDefaultPadding?: boolean;
  fill?: "solid" | "outline" | "none";
  // variant?: "accent" | "neutral";
}

const { noDefaultPadding = false, class: extraClass, ...attrs } = Astro.props;
---

<button
  class={twJoin(
    !noDefaultPadding && "py-3 px-4",
    "font-semibold rounded-lg bg-cc-blue text-cc-white dark:hover:bg-cc-white dark:hover:text-cc-blue hover:text-cc-white hover:bg-cc-space justify-center items-center select-none",
    extraClass
  )}
  {...attrs}
>
  <slot />
</button>
