---
import Button from "@components/common/Button.astro";
import GridLayout from "@components/layout/GridLayout.astro";
import Section from "@components/layout/Section.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Icon } from "astro-iconify";
---

<BaseLayout gridLayout="lg">
  <!-- <Section colSpan="full" class="" noPaddingY>
    <nav class="flex justify-between py-2">
      <h1 class="text-2xl">chuangcaleb</h1>
      <ul class:list={["flex gap-6 my-auto"]}>
        <HeaderLink href="/blog">blog</HeaderLink>
        <HeaderLink href="/lore">lore</HeaderLink>
      </ul>
    </nav>
  </Section> -->
  <GridLayout isNestedGrid class="gap-x-4">
    <Section class="grid py-16">
      <div class="my-auto text-center [grid-area:1/1]">
        <div
          class="grid justify-items-center gap-10 py-4 lg:justify-items-start lg:text-left"
        >
          <div class="grid gap-y-6">
            <h1
              class="text-6xl font-extrabold sm:text-7xl sm:tracking-wide md:text-8xl"
            >
              Chuang Caleb
            </h1>
            <p class="mx-auto max-w-lg text-xl md:text-2xl lg:mx-0 lg:max-w-xl">
              I'm a <strong>Software Engineer</strong> based in <strong
                >KL, Malaysia</strong
              > specializing in <strong>Front-End Web</strong>.<span
                class="font-extralight"
              >
                I design and create experiences with the values: critical,
                calculating, clever.
              </span>
            </p>
          </div>
          <div class="grid gap-y-4">
            <div
              class="grid auto-rows-fr grid-cols-2 gap-4 sm:grid-flow-col sm:grid-cols-none"
            >
              <Button class="col-span-full flex gap-x-2 whitespace-nowrap">
                <Icon name="mdi:connection" class="w-6" />
                Connect with me!
              </Button>
              <a
                href="https://github.com/chuangcaleb"
                class="group rounded-xl border border-cc-blue hover:bg-cc-blue"
              >
                <Icon
                  name="mdi:github"
                  class="inline-block w-12 p-1 text-cc-blue group-hover:text-cc-white"
                />
              </a>
              <a
                href="https://www.linkedin.com/in/chuangcaleb/"
                class="group rounded-xl border border-cc-blue hover:bg-cc-blue"
              >
                <Icon
                  name="mdi:linkedin"
                  class="inline-block w-12 p-1 text-cc-blue group-hover:text-cc-white"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="-z-10 grid place-items-center [grid-area:1/1] lg:ml-auto">
        <img
          src="https://res.cloudinary.com/dxvww1uyr/image/upload/c_crop,g_face,h_700,q_80,r_max,w_700/v1681634787/artistic-profile.png"
          alt="profile"
          class="max-h-[500px] opacity-20 lg:opacity-30 xl:opacity-100"
        />
      </div>
    </Section>
  </GridLayout>
  <Section>
    <h2>My Work</h2>
  </Section>
  <Section asArticle>
    <h2>My Experiences</h2>
    <ul>
      <li>
        🧳 I am currently working as a (Front-End) <strong
          >Software Engineer I</strong
        > at <a href="https://www.airasia.com/aa/appdownload/">
          airasia Super App</a
        >
      </li>
      <li>
        🎓 I graduted with a <strong>
          BSc (Hons) Computer Science w/ Artificial Intelligence
        </strong> from the <a href="https://www.nottingham.ac.uk/">
          University of Nottingham</a
        >
      </li>
      <li>
        🎭 I love <storng>storywriting</storng>, I write about story in my <a
          href="https://chuangcaleb.github.io/wtsa">story blog</a
        >
      </li>
      <li>🌱 I’m interested in NLP, Game AI Agents & Web Development</li>
      <li>
        🟪 I optimize my <a href="https://obsidian.md/">Obsidian</a> workflow for
        notetaking, journalling, blogging — everything
      </li>
      <li>
        🎮 I like modding and designing <a
          href="https://www.planetminecraft.com/member/calebchan/"
          >data packs for Minecraft</a
        >
      </li>
      <li>🎵 I always need my 🎸 guitar, and I'm learning 🎹 keyboard!</li>
    </ul>
  </Section>
  <Section>
    <h2>My Stack</h2>
  </Section>
</BaseLayout>
