---
import TechCard from "../components/TechCard/TechCard.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../layouts/Section.astro";
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  class="text-xl"
  fullWidth
  index
  hasSpriteProvider
>
  <Section invert fullWidth class="min-h-fit h-screen grid xl:grid-cols-2">
    <div class="place-self-center text-center xl:text-left 2xl:px-12">
      <div class="grid justify-items-center gap-10 xl:justify-items-start">
        <div class="grid gap-4">
          <h1 class="m-0 text-5xl sm:text-7xl xl:text-8xl">Chuang Caleb</h1>
          <h2 class="m-0 text-2xl font-normal sm:text-3xl xl:text-5xl">
            Frontend Software Engineer
          </h2>
        </div>
        <button
          class="max-w-fit rounded-lg bg-ccTeal py-3 px-12 text-base font-bold text-ccTeal-on hover:bg-ccTeal-200 dark:bg-ccTeal-300 xl:text-lg"
          >Connect with me!</button
        >
      </div>
    </div>
    <div class="">
      asds
      <TechCard title="Typescript" />
    </div>
  </Section>
  <Section verticalPadding>
    <h1>🧑‍🚀 Hello, Astronaut!</h1>
    <p>
      Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
      template. This template serves as a lightweight, minimally-styled starting
      point for anyone looking to build a personal website, blog, or portfolio with
      Astro.
    </p>
  </Section>
  <Section verticalPadding>
    <p>
      This template comes with a few integrations already configured in your <code
        >astro.config.mjs</code
      > file. You can customize your setup with <a
        href="https://astro.build/integrations">Astro Integrations</a
      > to add tools like Tailwind, React, or Vue to your project.
    </p>
    <p>Here are a few ideas on how to get started with the template:</p>
    <div class="flex flex-row">
      <!-- -space-x-20 -->
      <TechCard title="Javascript" />
      <TechCard title="Typescript" />
      <TechCard title="Material UI" />
      <TechCard title="React" />
      <TechCard title="Astro" />
      <TechCard title="Next" />
      <TechCard title="Django" />
    </div>
  </Section>
</BaseLayout>
