---
import Card from "../components/Card/Card.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../layouts/Section.astro";
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  class="text-xl"
  fullWidth
>
  <Section fullWidth class="h-screen">
    <h1 class="text-7xl md:text-8xl text-center">Chuang<br />Caleb</h1>
  </Section>
  <Section verticalPadding secondaryBg>
    <h1>🧑‍🚀 Hello, Astronaut!</h1>
    <p>
      Welcome to the official <a href="https://astro.build/">Astro</a> blog starter
      template. This template serves as a lightweight, minimally-styled starting
      point for anyone looking to build a personal website, blog, or portfolio with
      Astro.
    </p>
  </Section>
  <Section>
    <p>
      This template comes with a few integrations already configured in your <code
        >astro.config.mjs</code
      > file. You can customize your setup with <a
        href="https://astro.build/integrations">Astro Integrations</a
      > to add tools like Tailwind, React, or Vue to your project.
    </p>
    <p>Here are a few ideas on how to get started with the template:</p>
    <div class="flex flex-row">
      <Card iconName="logos:typescript-icon" title="Typescript" />
      <Card iconName="logos:javascript" title="Javascript" />
      <Card iconName="logos:typescript-icon" title="Typescript" />
      <Card iconName="logos:typescript-icon" title="Typescript" />
    </div>
  </Section>
</BaseLayout>
