---
import Section from "@components/layout/Section.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Sprite } from "astro-iconify";
---

<BaseLayout hasSpriteProvider>
  <Section colSpan="middle">
    <h1>Hello</h1>
    <Sprite name="logos:react" class="h-8" />
    <Section bg="dark">
      <h1>Hello</h1>
    </Section>
  </Section>
  <Section colSpan="full" class="bg-blue-200">
    <h1>Hello</h1>
  </Section>
  <Section colSpan="full" class="bg-red-200" paddingX="mobile">
    <h1>Hello</h1>
  </Section>
</BaseLayout>
