---
import Button from "@components/common/Button.astro";
import Section from "@components/layout/Section.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Icon } from "astro-iconify";
---

<BaseLayout gridLayout="lg">
  <!-- <Section colSpan="full" class="" noPaddingY>
    <nav class="flex justify-between py-2">
      <h1 class="text-2xl">chuangcaleb</h1>
      <ul class:list={["flex gap-6 my-auto"]}>
        <HeaderLink href="/blog">blog</HeaderLink>
        <HeaderLink href="/lore">lore</HeaderLink>
      </ul>
    </nav>
  </Section> -->
  <Section colSpan="full" class="grid h-[80svh] min-h-fit xl:grid-cols-2">
    <div class="place-self-center px-8 text-center xl:text-left 2xl:px-12">
      <div class="grid justify-items-center gap-10 xl:justify-items-start">
        <div class="grid gap-4">
          <h1
            class="whitespace-nowrap break-keep text-5xl font-extrabold sm:text-7xl lg:text-8xl"
          >
            Chuang Caleb
          </h1>
          <p class="text-xl lg:text-2xl">
            I'm a <strong>Software Engineer</strong> based in <strong
              >KL, Malaysia</strong
            > specializing in <strong>Front-End Web</strong>.<span
              class="font-extralight"
            >
              I design and create experiences with the values: critical,
              calculating, clever.
            </span>
          </p>
        </div>
        <div class="grid gap-y-4">
          <div class="flex gap-4">
            <Button class="flex gap-x-2">
              <Icon name="mdi:connection" class="w-6" />
              Connect with me
            </Button>
            <a href="https://github.com/chuangcaleb">
              <Icon
                name="mdi:github"
                class="w-12 rounded-xl border border-cc-blue p-1 text-cc-blue hover:bg-cc-blue hover:text-cc-white"
              />
            </a>
            <a href="https://www.linkedin.com/in/chuangcaleb/">
              <Icon
                name="mdi:linkedin"
                class="w-12 rounded-xl border border-cc-blue p-1 text-cc-blue hover:bg-cc-blue hover:text-cc-white"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p>some other text</p>
    </div>
  </Section>
  <Section>
    <h2>My Work</h2>
  </Section>
  <Section asArticle>
    <h2>My Experiences</h2>
    <ul>
      <li>
        🧳 I am currently working as a (Front-End) <strong
          >Software Engineer I</strong
        > at <a href="https://www.airasia.com/aa/appdownload/">
          airasia Super App</a
        >
      </li>
      <li>
        🎓 I graduted with a <strong>
          BSc (Hons) Computer Science w/ Artificial Intelligence
        </strong> from the <a href="https://www.nottingham.ac.uk/">
          University of Nottingham</a
        >
      </li>
      <li>
        🎭 I love <storng>storywriting</storng>, I write about story in my <a
          href="https://chuangcaleb.github.io/wtsa">story blog</a
        >
      </li>
      <li>🌱 I’m interested in NLP, Game AI Agents & Web Development</li>
      <li>
        🟪 I optimize my <a href="https://obsidian.md/">Obsidian</a> workflow for
        notetaking, journalling, blogging — everything
      </li>
      <li>
        🎮 I like modding and designing <a
          href="https://www.planetminecraft.com/member/calebchan/"
          >data packs for Minecraft</a
        >
      </li>
      <li>🎵 I always need my 🎸 guitar, and I'm learning 🎹 keyboard!</li>
    </ul>
  </Section>
  <Section>
    <h2>My Stack</h2>
  </Section>
</BaseLayout>
