---
import Button from "@components/common/Button.astro";
import Section from "@components/layout/Section.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <!-- <Section colSpan="full" class="" noPaddingY>
    <nav class="flex justify-between py-2">
      <h1 class="text-2xl">chuangcaleb</h1>
      <ul class:list={["flex gap-6 my-auto"]}>
        <HeaderLink href="/blog">blog</HeaderLink>
        <HeaderLink href="/lore">lore</HeaderLink>
      </ul>
    </nav>
  </Section> -->
  <Section colSpan="full" class="grid h-[80svh] min-h-fit xl:grid-cols-2">
    <div class="place-self-center text-center xl:text-left 2xl:px-12">
      <div class="grid justify-items-center gap-10 xl:justify-items-start">
        <div class="grid gap-4">
          <h1
            class="whitespace-nowrap break-keep text-5xl font-extrabold sm:text-7xl md:text-8xl"
          >
            Chuang Caleb
          </h1>
          <p class="text-xl lg:text-2xl">
            I'm a <strong>Software Engineer</strong> based in <strong
              >KL, Malaysia</strong
            > specializing in <strong>Front-End Web</strong>.<span
              class="font-extralight"
            >
              I design and create experiences with the values: critical,
              calculating, clever.
            </span>
          </p>
        </div>
        <div class="flex gap-4">
          <Button class="">Connect with me</Button>
          <Button class="">About me</Button>
        </div>
      </div>
    </div>
    <div>
      <p>some other text</p>
    </div>
  </Section>
  <Section>
    <h2>My Work</h2>
  </Section>
  <Section>
    <h2>My Experiences</h2>
  </Section>
  <Section>
    <h2>My Stack</h2>
  </Section>
</BaseLayout>
