---
import { twMerge } from "tailwind-merge";
import HeaderLink from "./HeaderLink.astro";
interface Props {
  isIndex?: boolean;
}
const { isIndex } = Astro.props;
---

<header
  class={twMerge(
    "max-w-screen-xl mx-auto px-4 xlPadded:px-0 min-h-fit select-none prose-a:no-underline",
    isIndex && "absolute z-10 inset-0"
  )}
>
  <nav
    class={twMerge(
      "py-2 flex h-12",
      isIndex && "justify-end",
      !isIndex && "justify-between"
    )}
  >
    {
      !isIndex && (
        <a href="/" class="hover:underline">
          <h2 class="my-0 text-2xl xl:text-3xl">
            <span class="font-light">Chuang</span>
            <span class="font-extrabold">Caleb</span>
          </h2>
        </a>
      )
    }
    <ul class={twMerge("flex gap-6 my-auto", isIndex && "prose-dark")}>
      <HeaderLink href="/blog">blog</HeaderLink>
      <HeaderLink href="/lore">lore</HeaderLink>
    </ul>
  </nav>
</header>
