---
import { IconButton } from "@components/common/button/IconButton";
import { Sprite } from "astro-iconify";
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";
import axios from "axios";

interface Props extends HTMLAttributes<"form"> {}

const { class: extraClass } = Astro.props;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const requestBody = {
      email: data.get("email"),
      message: data.get("message"),
    };
    // TODO: throw error on maximum length
    await axios({
      method: "POST",
      url: import.meta.env.PIPEDREAM_URL,
      data: requestBody,
    });
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

function handleSubmit(event: { preventDefault: () => void }) {
  event.preventDefault();
}
---

<form
  id="contact-form"
  method="POST"
  action=""
  class={twMerge("grid gap-8 rounded-lg mt-8 mb-16", extraClass)}
  onsubmit="handleSubmit(event)"
>
  <h2>
    <Sprite
      name="mdi:connection"
      class="mr-2 inline aspect-square w-12 pb-2"
    />Connect with me!
  </h2>
  <label>
    <Sprite name="mdi:email-outline" class="inline aspect-square w-6 pb-1" />
    Email
    <input
      name="email"
      type="email"
      required
      maxlength="254"
      class="mt-2 sm:w-[30ch]"
    />
  </label>
  <label>
    <Sprite name="mdi:message-text-outline" class="inline aspect-square w-6" />
    Message
    <small class="inline italic">(max 300 characters)</small>
    <textarea name="message" required class="mt-2" maxlength="3000" rows={4}
      >{
        "Introduce your name and your objective here, along with any other platforms for further communication!"
      }</textarea
    >
  </label>
  <IconButton
    name="mdi:send"
    iconClass="h-6 aspect-square"
    hasContent
    position="right"
    class="max-w-fit"
    type="submit"
    hoverBorder
  >
    Submit Message
  </IconButton>
</form>
