---
import HeaderLink from "./HeaderLink.astro";
const { index } = Astro.props as { index: boolean };
---

<header
  class:list={[
    "max-w-screen-xl mx-auto px-4 xlPadded:px-0",
    { "absolute z-10 left-0 right-0": index },
  ]}
>
  <nav
    class:list={[
      "py-2 flex h-12",
      { "justify-end": index },
      { "justify-between": !index },
    ]}
  >
    {
      !index && (
        <a href="/" class="hover:underline">
          <h2 class="text-2xl xl:text-3xl">
            <span class="font-light">Chuang</span>
            <span class="font-extrabold">Caleb</span>
          </h2>
        </a>
      )
    }
    <ul class:list={["flex gap-6 my-auto", { "text-ccWhite": index }]}>
      <HeaderLink href="/blog">blog</HeaderLink>
      <HeaderLink href="/about">about</HeaderLink>
    </ul>
  </nav>
</header>
