---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: extraClass, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    extraClass,
    "inline-block hover:underline underline-offset-4",
    { "underline disabled:opacity-75 pointer-events-none": isActive },
  ]}
  {...props}
  aria-current={isActive && "page"}
  aria-disabled={isActive}
>
  <slot />
</a>
