---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { href, class: extraClass, ...attrs } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "inline-block hover:underline underline-offset-2",
    { "underline disabled:opacity-75 pointer-events-none": isActive },
    extraClass,
  ]}
  {...attrs}
  aria-current={isActive && "page"}
  aria-disabled={isActive}
>
  <slot />
</a>
