---
import HeaderLink from "./HeaderLink.astro";
interface Props {
  isIndex?: boolean;
}
const { isIndex } = Astro.props;
---

<header
  class:list={[
    "max-w-screen-xl mx-auto px-4 xlPadded:px-0 min-h-fit select-none prose-a:no-underline",
    { "absolute z-10 inset-0": isIndex },
  ]}
>
  <nav
    class:list={[
      "py-2 flex h-12",
      { "justify-end": isIndex },
      { "justify-between": !isIndex },
    ]}
  >
    {
      !isIndex && (
        <a href="/" class="hover:underline">
          <h2 class="my-0 text-2xl xl:text-3xl">
            <span class="font-light">Chuang</span>
            <span class="font-extrabold">Caleb</span>
          </h2>
        </a>
      )
    }
    <ul class:list={["flex gap-6 my-auto", { "prose-dark": isIndex }]}>
      <HeaderLink href="/blog">blog</HeaderLink>
      <HeaderLink href="/lore">lore</HeaderLink>
    </ul>
  </nav>
</header>
