---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props as Props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    className,
    "hover:underline inline-block",
    // { underline: isActive },
  ]}
  {...props}
  aria-current={isActive && "page"}
  aria-disabled={isActive}
>
  <slot />
</a>
