---
import type { TechTitle } from "../../data/TechStack";
import type { TechCardGrade } from "../../data/TechStack/types";

interface Props {
  title: TechTitle;
  grade: TechCardGrade;
}
const { title, grade } = Astro.props as Props;
---

<div class="relative w-min h-full">
  <span
    class="tracking-wide [writingMode:vertical-lr] [transform:rotate(180deg)] mt-11 [fontFamily:bit]"
  >
    {title}
  </span>
  <div class="block w-full absolute bottom-1 text-center text-sm">
    {grade.tier}
  </div>
</div>
