---
import { Sprite } from "astro-iconify";
import type { TechCard } from "../../data/TechStack/types";

const {
  icon: { name, bgColor, color, invert },
} = Astro.props as TechCard;
// https://icones.js.org/collection/logos

const bgColorLiteral =
  (bgColor && bgColor !== "responsive" && { backgroundColor: bgColor }) || {};
const colorLiteral = (color && { color: color }) || {};
let iconStyles: any = Object.assign(bgColorLiteral, colorLiteral);
if (Object.keys(iconStyles).length === 0) {
  iconStyles = undefined;
}
---

<div
  class="absolute -top-3 -left-3 rounded-xl border border-secondary-focus bg-secondary p-1"
>
  <div
    class:list={[
      "rounded-lg",
      { "bg-zinc-100 dark:bg-neutral": bgColor === "responsive" },
    ]}
  >
    <Sprite
      name={name}
      class:list={["h-10 w-10 rounded-lg", { "dark:invert": invert }]}
      style={iconStyles}
    />
  </div>
</div>
