---
import TechStack from "../../data/TechStack";
import type { TechTitle } from "../../data/TechStack";
import CardIcon from "./CardIcon.astro";
import CardBody from "./CardBody/CardBody.astro";
import CardHeader from "./CardHeader.astro";

interface Props {
  title: TechTitle;
}
const { title } = Astro.props as Props;
const techCard = TechStack[title];
const { grade, icon } = techCard;
---

<div
  class="relative ml-3 mt-3 flex h-48 max-w-fit rounded-xl border border-secondary-focus bg-secondary text-secondary-content"
>
  <CardHeader title={title} grade={grade} />
  <CardIcon icon={icon} />
  <CardBody {...techCard} />
</div>

<style>
  @font-face {
    font-family: "bit";
    src: url("/8Bit-44Pl.ttf");
  }
</style>
