---
import { Icon } from "astro-icon";
import TechStack from "../../data/TechStack";
import type { TechTitle } from "../../data/TechStack";

interface Props {
  title: TechTitle;
}
const { title } = Astro.props as Props;
const techCard = TechStack[title];
const { icon, iconBgColor, iconColor } = techCard;
// https://icones.js.org/collection/logos

const iconBgColorLiteral =
  (iconBgColor &&
    iconBgColor !== "responsive" && { backgroundColor: iconBgColor }) ||
  {};
const iconColorLiteral = (iconColor && { color: iconColor }) || {};
let iconStyles: any = Object.assign(iconBgColorLiteral, iconColorLiteral);
if (Object.keys(iconStyles).length === 0) {
  iconStyles = undefined;
}
---

<div
  class="w-36 h-48 border border-zinc-500 rounded-xl relative ml-3 mt-3 flex bg-ccCambridge-fade dark:bg-ccIndigo text-ccIndigo dark:text-ccWhite"
>
  <!-- Title -->
  <div
    class="pb-11 row text-end w-min h-full [writingMode:vertical-lr] [transform:rotate(180deg)]"
  >
    <span class="tracking-wide [fontFamily:bit]">{title}</span>
  </div>

  <!-- Icon -->
  <div
    class="bg-ccCambridge-fade dark:bg-ccIndigo rounded-xl border border-zinc-500 absolute -top-3 -left-3"
  >
    <div class="p-1">
      <Icon
        name={icon}
        class:list={[
          "h-10 w-10 rounded-lg",
          { "bg-ccWhite dark:bg-zinc-800": iconBgColor === "responsive" },
        ]}
        style={iconStyles}
      />
    </div>
  </div>

  <!-- Body -->
  <div class="basis-full flex">
    <div
      class="basis-full bg-ccWhite-fade dark:bg-ccSlate border border-zinc-500 border-spacing-8 rounded-t-xl rounded-r-xl mt-1 mr-1 mb-1 grid grid-rows-2"
    >
      <div></div>
      <!-- Stats -->
      <div class="">ad</div>
    </div>
  </div>
</div>

<style>
  @font-face {
    font-family: "bit";
    src: url("/8Bit-44Pl.ttf");
  }
</style>
