---
import { Icon } from "astro-icon";
import TechStack from "../../data/TechStack";
import type { TechTitle } from "../../data/TechStack";

interface Props {
  title: TechTitle;
}
const { title } = Astro.props as Props;
const techCard = TechStack[title];
// https://icones.js.org/collection/logos
---

<div
  class="w-36 h-48 border border-zinc-500 rounded-xl relative ml-3 mt-3 flex"
>
  <!-- Title -->
  <div
    class="pb-11 border-l border-zinc-500 row text-end w-min h-full"
    style={{ writingMode: "vertical-lr", transform: "rotate(180deg)" }}
  >
    <span class="tracking-wide" style={{ fontFamily: "bit" }}>{title}</span>
  </div>

  <!-- Icon -->
  <div
    class="bg-white dark:bg-invert-bgPrimary rounded-xl border border-zinc-500 absolute -top-3 -left-3"
  >
    <div class="p-1">
      <Icon
        name={techCard.icon}
        class="h-10 w-10 rounded-lg bg-zinc-100 dark:bg-zinc-800"
      />
    </div>
  </div>

  <!-- Body -->
  <div class="basis-full flex">
    <div
      class="basis-full border-t border-r border-b border-zinc-500 border-spacing-8 rounded-t-xl rounded-r-xl mt-1 mr-1 mb-1"
    >
    </div>
  </div>
</div>

<style>
  @font-face {
    font-family: "bit";
    src: url("/8Bit-44Pl.ttf");
  }
</style>
