---
import HeaderLink from "./HeaderLink.astro";
---

<header class="mb-6">
  <nav class="mx-auto px-4 sm:px-6 max-w-7xl py-2 flex justify-between">
    <a href="/" class="hover:underline">
      <h2 class="text-3xl">
        <span class="font-light">Chuang</span>
        <span class="font-extrabold">Caleb</span>
      </h2>
    </a>
    <ul class="flex gap-6 my-auto">
      <HeaderLink href="/blog">blog</HeaderLink>
      <HeaderLink href="/about">about</HeaderLink>
    </ul>
  </nav>
</header>
