---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props as Props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    className,
    "group transition duration-300 inline-block",
    { "font-bold pointer-events-none": isActive },
  ]}
  {...props}
  aria-current={isActive && "page"}
  aria-disabled={isActive}
>
  <slot />
  {
    !isActive && (
      <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black top-[-0.3em] relative" />
    )
  }
</a>
