---
import type { TechTitle } from "../data/TechStack";
import TechCard from "./TechCard/TechCard.astro";

interface Props extends astroHTML.JSX.HTMLAttributes {
  cards: TechTitle[];
  isStacked?: boolean;
  hasGap?: boolean;
}

const { cards, isStacked, hasGap, class: extraClass, ...props } = Astro.props;
---

<div
  class:list={[
    "flex max-w-fit overflow-scroll p-2 snap-normal snap-x scroll-pl-5 bg-neutral rounded-xl",
    { "-space-x-26": isStacked },
    { "gap-4 ": hasGap },
    extraClass,
  ]}
  {...props}
>
  {cards.map((card) => <TechCard title={card} fadeBody={isStacked} />)}
</div>
