---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {}

const { class: extraClass, ...attrs } = Astro.props;
---

<button
  class:list={[
    "font-semibold py-3 px-6 rounded bg-cc-blue text-cc-white hover:-translate-y-[0.1em] duration-100",
    extraClass,
  ]}
  {...attrs}
>
  <slot />
</button>
