---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {}

const { class: extraClass, ...attrs } = Astro.props;
---

<button
  class:list={[
    "font-semibold py-2 px-4 rounded-lg bg-cc-blue text-cc-white hover:bg-cc-white hover:text-cc-blue duration-100 justify-center items-center",
    extraClass,
  ]}
  {...attrs}
>
  <slot />
</button>
