---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {}

const { class: extraClass, ...attrs } = Astro.props;
---

<button
  class:list={[
    "font-semibold py-3 px-4 rounded-lg bg-cc-blue text-cc-white dark:hover:bg-cc-white dark:hover:text-cc-blue hover:text-cc-white  hover:bg-cc-space justify-center items-center select-none ",
    extraClass,
  ]}
  {...attrs}
>
  <slot />
</button>
