---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {}

const { class: extraClass, ...attrs } = Astro.props;
---

<button
  class:list={["border py-2 px-6 rounded w-[var(--test)]", extraClass]}
  {...attrs}
>
  <slot />
</button>
