---
import { Sprite } from "astro-iconify";
import { twMerge } from "tailwind-merge";
import { Button, ButtonProps } from "../BaseButton";

interface Props extends ButtonProps {
  name: string;
  iconClass: string | null | undefined;
  hasContent?: boolean;
  position?: "left" | "right";
}

const {
  name,
  iconClass,
  class: extraClass,
  hasContent = false,
  // eslint-disable-next-line no-unused-vars
  slot,
  position = "left",
  ...attrs
} = Astro.props;
---

<Button
  class={twMerge(hasContent && "flex gap-x-2 whitespace-nowrap", extraClass)}
  {...attrs}
  noDefaultPadding={!hasContent}
>
  {position === "right" && <slot />}
  <Sprite name={name} class={iconClass} />
  {position === "left" && <slot />}
</Button>
