---
import { Sprite } from "astro-iconify";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.astro";

interface BaseLayoutProps extends astroHTML.JSX.HTMLAttributes {
  title: string;
  description: string;
  notProse: boolean;
  fullWidth: boolean;
  index: boolean;
  hasSpriteProvider: boolean;
}

const {
  title,
  class: className,
  description,
  notProse,
  fullWidth,
  index,
  hasSpriteProvider,
} = Astro.props as BaseLayoutProps;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header index={index} />
    <main>
      <div
        class:list={[
          "mx-auto",
          { "px-4": !fullWidth },
          { "max-w-full": fullWidth },
          { "prose dark:prose-invert": !notProse },
          className,
        ]}
      >
        {
          hasSpriteProvider ? (
            <Sprite.Provider>
              <slot />
            </Sprite.Provider>
          ) : (
            <slot />
          )
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
