---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.astro";

interface BaseLayoutProps extends astroHTML.JSX.HTMLAttributes {
  title: string;
  description: string;
  notProse: boolean;
  fullWidth: boolean;
}

const {
  title,
  class: className,
  description,
  notProse,
  fullWidth,
} = Astro.props as BaseLayoutProps;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="dark:bg-invert-bgPrimary text-zinc-700 dark:text-zinc-300">
    <Header />
    <main>
      <div
        class:list={[
          "mx-auto",
          { "px-4": !fullWidth },
          { "max-w-full": fullWidth },
          { "prose dark:prose-invert": !notProse },
          className,
        ]}
      >
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
