---
import BaseHead from "@components/BaseHead.astro";
import GridLayout, {
  GridLayoutCVKeys,
} from "@components/layout/GridLayout.astro";
import SpriteProviderWrapper from "@components/layout/SpriteProviderWrapper.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@constants";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  title?: string;
  description?: string;
  hasSpriteProvider?: boolean;
  gridLayout?: GridLayoutCVKeys;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  hasSpriteProvider = false,
  gridLayout = "xl",
  class: extraClass,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="min-h-screen text-cc-black dark:bg-cc-space dark:text-cc-white">
    <SpriteProviderWrapper hasWrapper={hasSpriteProvider}>
      <GridLayout
        gridLayout={gridLayout}
        class:list={[extraClass, "pb-20"]}
        asMain
      >
        <slot />
      </GridLayout>
    </SpriteProviderWrapper>
  </body>
</html>
