---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface BaseLayoutProps extends astroHTML.JSX.HTMLAttributes {
  title: string;
  description: string;
}

const { title, class: className, description } = Astro.props as BaseLayoutProps;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main class:list={["mx-auto px-4 sm:px-6 max-w-7xl prose", className]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
