---
import { Sprite } from "astro-iconify";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.astro";

interface Props extends astroHTML.JSX.HTMLAttributes {
  title: string;
  description: string;
  fullWidth?: boolean;
  index?: boolean;
  hasSpriteProvider: boolean;
}

const {
  title,
  class: extraClass,
  description,
  fullWidth,
  index,
  hasSpriteProvider,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header index={index} />
    <main>
      <div
        class:list={[
          "mx-auto prose dark:prose-dark",
          { "px-4": !fullWidth },
          { "max-w-full": fullWidth },
          extraClass,
        ]}
      >
        {
          hasSpriteProvider ? (
            <Sprite.Provider>
              <slot />
            </Sprite.Provider>
          ) : (
            <slot />
          )
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
