---
import BaseHead from "@components/BaseHead.astro";
import SpriteProviderWrapper from "@components/layout/SpriteProviderWrapper.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  title: string;
  description: string;
  hasSpriteProvider?: boolean;
}

const { title, description, hasSpriteProvider = false } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <main>
      <SpriteProviderWrapper hasWrapper={hasSpriteProvider}>
        <slot />
      </SpriteProviderWrapper>
    </main>
  </body>
</html>
