---
import { Sprite } from "astro-iconify";
import type { HTMLAttributes } from "astro/types";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.astro";

interface Props extends HTMLAttributes<"div"> {
  title: string;
  description: string;
  index?: boolean;
  hasSpriteProvider?: boolean;
}

const {
  title,
  class: extraClass,
  description,
  index,
  hasSpriteProvider,
  ...attrs
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="prose dark:prose-dark">
    <Header index={index} />
    <main>
      <div class:list={[extraClass]} {...attrs}>
        {
          hasSpriteProvider ? (
            <Sprite.Provider>
              <slot />
            </Sprite.Provider>
          ) : (
            <slot />
          )
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
