---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/layout/Footer.astro";
import GridLayout, {
  GridLayoutCVKeys,
} from "@components/layout/GridLayout.astro";
import SpriteProviderWrapper from "@components/layout/SpriteProviderWrapper.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@constants";
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"div"> {
  title?: string;
  description?: string;
  // hasSpriteProvider?: boolean;
  gridLayout?: GridLayoutCVKeys;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  // hasSpriteProvider = false,
  gridLayout = "xl",
  class: extraClass,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="grid min-h-screen gap-y-20 text-cc-black dark:bg-cc-night dark:text-cc-white"
  >
    <SpriteProviderWrapper hasWrapper>
      <GridLayout
        gridLayout={gridLayout}
        class={twMerge("pb-10", extraClass)}
        asMain
      >
        <slot />
      </GridLayout>
      <GridLayout
        gridLayout="lg"
        class="bg-cc-night text-cc-white dark:bg-cc-white dark:text-cc-black"
      >
        <Footer class="[grid-column:2]" />
      </GridLayout>
    </SpriteProviderWrapper>
  </body>
</html>
