---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  contentWidth?: "full" | "prose" | "xl"; // default: max-w-xl
  paddingX?: "always" | "none" | "mobile"; // default: (gutters only on) mobile
  noPaddingY?: boolean; // default: paddingY true
  variant?: "base" | "dark" | "secondary"; // default: base
}
const {
  contentWidth = "xl",
  paddingX = "mobile",
  noPaddingY,
  variant = "base",
  class: extraClass,
  ...attrs
} = Astro.props;
---

<section
  class:list={[
    "w-full",
    {
      // paddingX
      "px-4": paddingX !== "none",
      "xlPadded:px-0": paddingX !== "always",
      // paddingY
      "py-16": !noPaddingY,
      // variants
      "bg-neutral-900 dark:bg-neutral prose-dark": variant === "dark",
      "bg-secondary prose-secondary": variant === "secondary",
    },
    extraClass,
  ]}
  {...attrs}
>
  {
    contentWidth === "full" ? (
      <slot />
    ) : (
      <div
        class:list={[
          {
            // i.e. full or max-w-xl
            "xl:max-w-screen-xl mx-auto": contentWidth !== "prose",
            "max-w-prose mx-auto": contentWidth === "prose",
          },
        ]}
      >
        <slot />
      </div>
    )
  }
</section>
