---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"section"> {
  contentWidth?: "full" | "prose" | "xl"; // default: max-w-xl
  paddingX?: "always" | "none" | "mobile"; // default: (gutters only on) mobile
  noPaddingY?: boolean; // default: paddingY true
  variant?: "base" | "dark" | "secondary"; // default: base
}
const {
  contentWidth = "xl",
  paddingX = "mobile",
  noPaddingY,
  variant = "base",
  class: extraClass,
  ...attrs
} = Astro.props;
---

<section
  class:list={twMerge(
    "w-full",
    // paddingX
    paddingX !== "none" && "px-4",
    paddingX !== "always" && "xlPadded:px-0",
    // paddingY
    !noPaddingY && "py-16",
    // variants
    variant === "dark" && "bg-neutral-900 dark:bg-neutral prose-dark",
    variant === "secondary" && "bg-secondary prose-secondary",

    extraClass
  )}
  {...attrs}
>
  {
    contentWidth === "full" ? (
      <slot />
    ) : (
      <div
        class:list={[
          {
            // i.e. full or max-w-xl
            "xl:max-w-screen-xl mx-auto": contentWidth !== "prose",
            "max-w-prose mx-auto": contentWidth === "prose",
          },
        ]}
      >
        <slot />
      </div>
    )
  }
</section>
