---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  width?: "full" | "prose";
  noHorizontalMobilePadding?: boolean;
  noVerticalPadding?: boolean;
  variant?: "dark" | "secondary";
}
const {
  width,
  noHorizontalMobilePadding,
  noVerticalPadding,
  variant,
  class: extraClass,
  ...attrs
} = Astro.props;
---

<section
  class:list={[
    "w-full",
    {
      "px-4 xlPadded:px-0": width === "full" && !noHorizontalMobilePadding,
      "py-12": !noVerticalPadding,
      "bg-neutral-900 dark:bg-neutral prose-dark": variant === "dark",
      "bg-secondary prose-secondary": variant === "secondary",
    },
    extraClass,
  ]}
  {...attrs}
>
  {
    width === "full" ? (
      <slot />
    ) : (
      <div
        class:list={[
          {
            "xl:max-w-screen-xl mx-auto": width !== "prose",
            "max-w-prose mx-auto": width === "prose",
            "px-4 xlPadded:px-0": !noHorizontalMobilePadding,
          },
        ]}
      >
        <slot />
      </div>
    )
  }
</section>
