---
interface SectionProps extends astroHTML.JSX.HTMLAttributes {
  fullWidth: boolean;
  verticalPadding: boolean;
  secondaryBg: boolean;
}
const {
  fullWidth,
  verticalPadding,
  secondaryBg,
  class: className,
} = Astro.props as SectionProps;
---

<section
  class:list={[
    {
      "px-4 xl:px-0 ": !fullWidth,
      "py-12": verticalPadding,
      "bg-zinc-900 dark:text-zinc-300 dark:bg-invert-bgSecondary prose-invert":
        secondaryBg,
    },
    className,
  ]}
>
  {
    !fullWidth ? (
      <div class="xl:max-w-screen-xl mx-auto">
        <slot />
      </div>
    ) : (
      <slot />
    )
  }
</section>
