---
interface Props extends astroHTML.JSX.HTMLAttributes {
  width?: "full" | "prose";
  noHorizontalMobilePadding?: boolean;
  noVerticalPadding?: boolean;
  invert?: boolean;
}
const {
  width,
  noHorizontalMobilePadding,
  noVerticalPadding,
  invert,
  class: extraClass,
  ...props
} = Astro.props;
---

<section
  class:list={[
    "w-full",
    {
      "px-4 xlPadded:px-0": width === "full" && !noHorizontalMobilePadding,
      "py-12": !noVerticalPadding,
      "bg-neutral-900 dark:bg-neutral prose-dark": invert,
    },
    extraClass,
  ]}
  {...props}
>
  {
    width === "full" ? (
      <slot />
    ) : (
      <div
        class:list={[
          { "xl:max-w-screen-xl mx-auto": width !== "prose" },
          { "max-w-prose mx-auto": width === "prose" },
          { "px-4 xlPadded:px-0": !noHorizontalMobilePadding },
        ]}
      >
        <slot />
      </div>
    )
  }
</section>
