---
interface SectionProps extends astroHTML.JSX.HTMLAttributes {
  fullWidth: boolean;
  forehead: boolean;
  secondaryBg: boolean;
}
const {
  fullWidth,
  forehead,
  secondaryBg,
  class: className,
} = Astro.props as SectionProps;
---

<section
  class:list={[
    {
      "px-4 xl:px-0 xl:max-w-screen-xl mx-auto": !fullWidth,
      "pt-12": forehead,
      "bg-zinc-900 dark:text-white dark:bg-invert-bgSecondary prose-invert":
        secondaryBg,
    },
    className,
  ]}
>
  <slot />
</section>
