---
interface Props extends astroHTML.JSX.HTMLAttributes {
  fullWidth?: boolean;
  noHorizontalMobilePadding?: boolean;
  verticalPadding?: boolean;
  invert?: boolean;
}
const {
  fullWidth,
  noHorizontalMobilePadding,
  verticalPadding,
  invert,
  class: className,
} = Astro.props;
---

<section
  class:list={[
    {
      "px-4 xlPadded:px-0": fullWidth && !noHorizontalMobilePadding,
      "pt-12 pb-8": verticalPadding,
      "bg-neutral-900 dark:bg-neutral prose-invert": invert,
    },
    className,
  ]}
>
  {
    !fullWidth ? (
      <div
        class:list={[
          "xl:max-w-screen-xl mx-auto",
          { "px-4 xlPadded:px-0": !noHorizontalMobilePadding },
        ]}
      >
        <slot />
      </div>
    ) : (
      <slot />
    )
  }
</section>
