:root {
  --cc-space: #2b2f40;
  --cc-white: #ededed;
  --cc-blue: #6797e4;
  --cc-black: #202331;

  --w-xl: 1280px;
  --w-lg: 1024px;
  --w-md: 768px;
  --w-prose: 65ch;

  --layout-xl: 1fr minmax(auto, var(--w-xl)) 1fr;
  --layout-lg: 1fr minmax(auto, var(--w-lg)) 1fr;
  --layout-md: 1fr minmax(auto, var(--w-md)) 1fr;
  --layout-prose: 1fr minmax(auto, var(--w-prose)) 1fr;
}
